/* Custom Look and feel - Can be edited
----------------------------------- */
#navrow1, #navrow2, #navrow3, #navrow4, #navrow5{
    border-bottom: 1px solid #EEEEEE;
}

.adjust-right {
    margin-left: 30px !important;
    font-size: 1.15em !important;
}

/* DOXYGEN Code Styles - These are from doxygen but can be changed to fit the theme
----------------------------------- */

a.qindex {
    font-weight: bold;
}

a.qindexHL {
    font-weight: bold;
    background-color: #9CAFD4;
    color: #ffffff;
    border: 1px double #869DCA;
}

.contents a.qindexHL:visited {
    color: #ffffff;
}

a.code, a.code:visited, a.line, a.line:visited {
    color: #4665A2;
}

a.codeRef, a.codeRef:visited, a.lineRef, a.lineRef:visited {
    color: #4665A2;
}

/* @end */

dl.el {
    margin-left: -1cm;
}

pre.fragment {
    border: 1px solid #C4CFE5;
    background-color: #FBFCFD;
    padding: 4px 6px;
    margin: 4px 8px 4px 2px;
    overflow: auto;
    word-wrap: break-word;
    font-size:  9pt;
    line-height: 125%;
    font-family: monospace, fixed;
    font-size: 105%;
}

div.fragment {
    padding: 4px 6px;
    margin: 4px 8px 4px 2px;
    border: 1px solid #C4CFE5;
}

div.line {
    font-family: monospace, fixed;
    font-size: 13px;
    min-height: 13px;
    line-height: 1.0;
    text-wrap: unrestricted;
    white-space: -moz-pre-wrap; /* Moz */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: pre-wrap;      /* CSS3  */
    word-wrap: break-word;      /* IE 5.5+ */
    text-indent: -53px;
    padding-left: 53px;
    padding-bottom: 0px;
    margin: 0px;
    -webkit-transition-property: background-color, box-shadow;
    -webkit-transition-duration: 0.5s;
    -moz-transition-property: background-color, box-shadow;
    -moz-transition-duration: 0.5s;
    -ms-transition-property: background-color, box-shadow;
    -ms-transition-duration: 0.5s;
    -o-transition-property: background-color, box-shadow;
    -o-transition-duration: 0.5s;
    transition-property: background-color, box-shadow;
    transition-duration: 0.5s;
}

div.line.glow {
    background-color: cyan;
    box-shadow: 0 0 10px cyan;
}


span.lineno {
    padding-right: 4px;
    text-align: right;
    border-right: 2px solid #0F0;
    background-color: #E8E8E8;
    white-space: pre;
}
span.lineno a {
    background-color: #D8D8D8;
}

span.lineno a:hover {
    background-color: #C8C8C8;
}

div.groupHeader {
    margin-left: 16px;
    margin-top: 12px;
    font-weight: bold;
}

div.groupText {
    margin-left: 16px;
    font-style: italic;
}

/* @group Code Colorization */

span.keyword {
    color: #008000
}

span.keywordtype {
    color: #604020
}

span.keywordflow {
    color: #e08000
}

span.comment {
    color: #800000
}

span.preprocessor {
    color: #806020
}

span.stringliteral {
    color: #002080
}

span.charliteral {
    color: #008080
}

span.vhdldigit {
    color: #ff00ff
}

span.vhdlchar {
    color: #000000
}

span.vhdlkeyword {
    color: #700070
}

span.vhdllogic {
    color: #ff0000
}

blockquote {
    background-color: #F7F8FB;
    border-left: 2px solid #9CAFD4;
    margin: 0 24px 0 4px;
    padding: 0 12px 0 16px;
}

dl.reflist {
    margin-left: 0px;
    padding-left: 0px;
}
dl.reflist dt {
    background-color: #F5F5F5;
    background-image: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: 1px solid #DDD;
    box-shadow: none;
    color: #555;
    font-weight: normal;
    padding: 8px;
    text-shadow: none;
}
dl.reflist dd {
    background-color: #F9FAFC;
    background-image: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 1px solid #DDD;
    border-left: none;
    border-right: none;
    border-top: 1px solid #DDD;
    box-shadow: none;
    color: #555;
    margin: 0px 0px 13px;
    padding: 8px;
}
div.line {
    margin-top: 3px;
}
h4 {
    font-size: 14pt;
}

div.navbar-header {
    width: 100%;
    position: relative;
    float: right;
}
img.navbar-logo {
    max-width: 100%;
    max-height: 200px;
    float: right;
}
a.navbar-brand {
    margin-bottom: 10px;
    margin-top: 16px;
    font-size: 80px;
    width: 33%;
    line-height: 1;
    font-weight: bold;
    height: 100%;
    font-family: "Lato", sans-serif;
}

div img {
    max-width: 100%;
}

div.mainpage img {
    max-height: 450px;
    max-width: 100%;
}

@media (min-width: 768px) {
    div.mainpage img {
        max-width: 80%;
    }

    img.navbar-logo {
        max-width:755%;
    }
}

div.mainpage div#interference-video {
    text-align: center;
}

video {
    width: 100%;
    max-height: 253px;
}

.contents { overflow: hidden; }

.table > tbody > tr > td.memSeparator {
    padding: 2pt;
    line-height: 1px;
}

.table > tbody > tr > td.memItemLeft,
.table > tbody > tr > td.memTemplItemLeft,
.table > tbody > tr > td.memTemplItemRight,
.table > tbody > tr > td.memTemplParams {
    padding: 2pt;
    line-height: 1;
}
.table > tbody > tr > td.memItemLeft,
.table > tbody > tr > td.memTemplItemLeft,
.table > tbody > tr > td.memTemplItemRight {
    cursor: pointer;
}

.table > tbody > tr > td.mdescRight {
    padding: 0pt;
    display: none;
}

body, table, div, p, dl {
    font: 400 16px/22px Lato, sans-serif;
}
a.pdficon, a.pdficon-small {
    display: inline-block;
    width: 28px;
    height: 30px;
    background-image: url("pdf-icon.png");
    background-size: 28px 30px;
    background-repeat: no-repeat;
    margin-top: -14px;
    margin-bottom: -2px;
}
a.pdficon-small {
    background-size: 17px 20px;
    width: 17px;
    height: 20px;
}

div.caption {
    text-align: center;
    font-style: italic;
    font-weight: normal;
    width: 75%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    margin-bottom: 15px;
}
ul.spaced li {
    margin-top: 10px;
    font-size: 12pt;
}
span.pub-title {
    font-style: italic;
}
span.pub-title:after {
    content:"\000A";
    white-space: pre;
}
#main-nav {
    margin-top: 25px;
}
#main-menu > li > a {
    padding: 12px 40px;
}
.sm-dox, .sm-dox:hover {
    background-image: none;
}
.sm-dox > li > a, .sm-dox:hover > li > a {
    font: 400 16px/22px Roboto,sans-serif;
    border-radius: 5px !important;
}
.sm-dox a, .sm-dox:hover a, .sm-dox ul a, .sm-dox:hover ul a  {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    text-shadow: none;
}
.sm-dox a:hover, .sm-dox ul a:hover {
    background-color: #337ab7;
    background-image: none;
}
.contents {
    clear: both;
}
.memtitle {
    float: none;
    margin-right: 0px;
    margin-top: 0px;
}
#MSearchResultsWindow {
    margin-top: -237px;
    margin-left: -20px;
}
#MSearchSelectWindow {
    margin-top: -237px;
}
.content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}
